@page
@model WebUI.Pages.Lookup.IndexModel
@{
}
<div class="app-heading d-flex justify-content-between">
    <div class="app-title">
        <h3 class="m-0">إدارة قوائم النظام</h3>
    </div>

</div>
<div class="mt-3">


<div class="row gap-2">
        <a class="text-success lookup-card d-flex justify-content-center align-items-center card p-5" href="/Region/index">
          @*  <div class="lookup-card d-flex justify-content-center align-items-center card p-5" name="text10">
                    
                    </div>*@
            قائمة المناطق
        </a>
        <a class="text-success lookup-card d-flex justify-content-center align-items-center card p-5" href="/City/index">
            @*<div class="lookup-card d-flex justify-content-center align-items-center card p-5">
                    </div>*@
            قائمة المدن

        </a>
        <a class="text-success lookup-card d-flex justify-content-center align-items-center card p-5" href="/GovernanceClassification/index">
           @* <div class="lookup-card d-flex justify-content-center align-items-center card p-5">
                
                </div>*@
            قائمة تصنيف الحوكمة
        </a>
        <a class="text-success lookup-card d-flex justify-content-center align-items-center card p-5" href="/QualitativeClassfication/index">
            @*<div class="lookup-card d-flex justify-content-center align-items-center card p-5">
           
             </div>*@
            قائمة التصنيف النوعى
        </a>
        <a class="text-success lookup-card d-flex justify-content-center align-items-center card p-5" href="/FirstSubclass/index">
           @* <div class="lookup-card d-flex justify-content-center align-items-center card p-5">
            </div>*@
            قائمة التصنيف الفرعى الاول

            </a>
        <a class="text-success lookup-card d-flex justify-content-center align-items-center card p-5" href="/SecondSubclass/index">
            @*<div class="lookup-card d-flex justify-content-center align-items-center card p-5">
            </div>*@
            قائمة التصنيف الفرعى الثانى

        </a>
        <a class="text-success lookup-card d-flex justify-content-center align-items-center card p-5" href="/ProductCategory/index">
          
                   قائمة الفئة المستهدفة

        </a>
        <a class="text-success lookup-card d-flex justify-content-center align-items-center card p-5" href="/SocialMedia/index">
          @*  <div class="lookup-card d-flex justify-content-center align-items-center card p-5">
            </div>*@
            قائمة حسابات التواصل

        </a>
@*        <a class="text-success lookup-card d-flex justify-content-center align-items-center card p-5" href="/ReportType/index">
        قائمة نوع البلاغ
        </a>*@
        <a class="text-success lookup-card d-flex justify-content-center align-items-center card p-5" href="/Bank/index">
            قائمة البنوك
        </a>
        <a class="text-success lookup-card d-flex justify-content-center align-items-center card p-5" href="/PaymentLookUp/SigningTheDonationGiftIndex">
            قائمة توقيع إهداء التبرع
        </a>
        <a class="text-success lookup-card d-flex justify-content-center align-items-center card p-5" href="/PaymentLookUp/DedicatedToPaymentIndex">
            قائمة الأهدائات الى
        </a>
        <a class="text-success lookup-card d-flex justify-content-center align-items-center card p-5" href="/PaymentLookUp/QuickPaymentAmountIndex">
            قائمة  قيم التبرعات السريعة
        </a>

        <a class="text-success lookup-card d-flex justify-content-center align-items-center card p-5" href="/Gender/index">
            قائمة الجنس المخدوم
        </a>

        <a class="text-success lookup-card d-flex justify-content-center align-items-center card p-5" href="/Donationmethod/index">
            قائمة طريقة التبرع
        </a>

        <a class="text-success lookup-card d-flex justify-content-center align-items-center card p-5" href="/ProductType/index">
            قائمة  نوع المنتج
        </a>
</div>
</div>








