@page
@model WebUI.Pages.NetworkDonator.Index
@{
}

@Html.AntiForgeryToken()
<div class="app-heading d-flex justify-content-between">
    <div class="app-title">
        <h3 class="m-0">إدارة بنيان</h3>
    </div>
    <div class="app-heading-end d-flex w-100">

        <div class="app-filter">

            <div class="filter-form">

                <form method="post"
                      data-ajax="true"
                      data-ajax-url="?handler=Search"
                      data-ajax-method="post"
                      id="search-Product-form"
                      data-ajax-mode="replace"
                      data-ajax-update="#search-result">

                    <div class="myform">
                        <div class="d-flex align-items-center justify-content-end w-100">

                            <label for="" class="form-label mb-0">التصفية بواسطة :</label>

                            <input type="text" id="socName" asp-for="@Model.Filters.Name" class="form-control me-3 filteration" placeholder=" إسم المتبرع" />

                            <input type="text" id="socName" asp-for="@Model.Filters.Email" class="form-control me-3 filteration" placeholder=" البريد الالكترونى" />
                        </div>
                        <a class="close-filter btnclose d-none" asp-page="/NetworkDonator/Index" asp-page-handler="GetAjax" type="reset">
                            <img src="~/cms_lib/img/icons/close-filter.svg" />
                        </a>
                        <button type="submit" class="btn btn-secondary">
                            تصفية
                        </button>
                        <a class="btn btn-success mx-3" asp-page="Index" asp-page-handler="ExcelDownload">تصدير</a>

                    </div>
                </form>

            </div>

        </div>



    </div>
</div>


<div id="search-result">
    <partial name="_NetworkDonatorsList.cshtml" model="@Model.networkDonatorDTO" />
</div>



@section scripts {
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
      <script>

        $('.filteration').on('change', function (e) {
            var Getval = $(this).val();
            if (Getval != '') {
                $('.btnclose').removeClass('d-none');
                $('.btnclose').addClass('d-block');
            } else {
                return false;
            }
        });
    </script>
}
