@page
@model WebUI.Pages.Admin.ForgetPasswordModel
@{
    Layout = null;
}
    <link href="~/cms_lib/css/app.css" rel="stylesheet" />


<html dir="rtl">
<link href="~/cms_lib/css/login.css" rel="stylesheet" />
<link rel="icon" type="image/png" href="~/cms_lib/img/layout/waqfilogo.png">
<title>Waqfy</title>
<!--styles-->
<link href="~/cms_lib/css/bootstrap.min.css" rel="stylesheet" />
<body>
@Html.AntiForgeryToken()
 <div class="logo-header mx-auto text-center">
    <img class="logo" src="~/cms_lib/img/layout/waqfilogo.png" alt="">
  </div>
  <div class="forget-wrapper">
    <div class="form-signin">
      <div class="login-icon">
          <img src="~/Cms_Lib/img/icons/forget.svg" alt="">
      </div>
      <div class="login-title">
        <h1>نسيت كلمة المرور!</h1>
        <p>
          برجاء ادخال البريد الالكتروني المستخدم للتسجيل للحصول علي معلومات تعديل كلمة المرور
        </p>
      </div>
        <form >
        <div id="login">
          <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="البريد الإلكتروني" required autofocus>
          </div>
                <button class="btn btn-success w-100 mt-3" type="button" onclick="forgetPassword();">
                    <img src="~/cms_lib/img/icons/Send.svg" alt="" />
                    ارسال الطلب
                </button>
        </div>
        <div class="have-password mb-4 mt-2 d-flex align-items-center justify-content-center">
          <span>تذكرت كلمة المرور!</span>
          <a class="forgot" href="/Admin/Login">تسجيل الدخول</a>
        </div>
      </form>
            <div class="modal fade body-modal" id="panModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-md modal-dialog-centered">
                    <div class="modal-content text-center">
                        <div class="modal-body text-center">

                            <div class="circle-timer">
                                <div class="timer-text">
                                    <div id="remaining"></div>
                                </div>
                                <svg version="1.1" x="0px" y="0px" width="210px" height="210px" viewBox="0 0 210 210" enable-background="new 0 0 210 210" xml:space="preserve">
                                <defs>
                                <clipPath id="clip">
                                <circle cx="105" cy="105" r="99"></circle>
                                </clipPath>
                                <linearGradient id="grad" gradientUnits="userSpaceOnUse" x1="160" y1="105" x2="80" y2="160">
                                <stop id="stop1" offset="0" style="stop-color:#F88930" />
                                <stop id="stop2" offset="1" style="stop-color:#F88930" />
                                </linearGradient>
                            </defs>

                                <circle fill="url(#grad)" cx="105" cy="105" r="99" stroke-width="1" />
                                <g transform="rotate(270.1 105 105)">
                                <circle id="ticker" fill="transparent" cx="105" cy="105" r="95.4" stroke="#E7F7F4" stroke-width="13" clip-path="url(#clip)" />
                            </g>
                                <circle fill="#E7F7F4" cx="105" cy="105" r="90" />
                        </svg>
                            </div>

                            <h3 class="text-white">تحذير</h3>
                            <p class="text-white"> يرجى انتظار الوقت المحدد ثم المحاولة لاحقاً مرة أخرى</p>

                        </div>


                        <div class="modal-button">
                            <button class=" btn btn-tertiary " id="panBtn" data-bs-dismiss="modal" onClick="window.location.reload();" >عودة</button>
                        </div>
                    </div>
                </div>
            </div>

    </div>
    </div>


    <script src="~/cms_lib/js/jquery-3.5.1.js"></script>
    <script src="~/cms_lib/js/popper.min.js"></script>
    <script src="~/cms_lib/js/bootstrap.min.js"></script>
    <script src="~/cms_lib/js/jquery.dataTables.min.js"></script>
    <script src="~/cms_lib/js/select2.min.js"></script> 

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/cms_lib/js/sweetalert2.all.min.js"></script>
    <script src="~/cms_lib/js/app.js"></script>
    <script src="~/cms_lib/js/app.js?version=@(DateTime.Now.Ticks)"></script>

    <script src="~/js/admin/adminscript.js?version=@(DateTime.Now.Ticks)"></script>
</body>
</html>