@page
@model WebUI.Pages.QualitativeClassfication.IndexModel
@{
}


@Html.AntiForgeryToken()

@if (Model.result.items.Any())
{

    
    <div class="app-heading d-flex justify-content-between">

        <div class="app-title">
            <a href="/ListLookup/Index" class="ps-1">
                <img class="rotated"
                 src="~/Cms_Lib/img/icons/Arrow-Right Square.svg"
                 alt="details-icon"
                 class="icons" />
            </a>
            <h3 class="mb-2">التصنيف النوعى </h3>
        </div>

        <a href="/QualitativeClassfication/CreateQualitativeClassfication" class="btn btn-tertiary">إضافة تصنيف نوعى جديد</a>
    </div>
    <div id="search-result">
        <partial name="_List.cshtml" model="@Model.result" />
    </div>

    <!--start delete modal-->
    <div class="modal fade body-modal" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content text-center">
                <form method="post"
                  data-ajax="true"
                  data-ajax-url="?handler=Delete"
                  data-ajax-method="post"
                  data-ajax-success="deleteSuccess"
                  data-ajax-failure="deleteFailed"
                  id="deleteProductUnitform">
                    <div class="modal-body">
                        <span class="ps-1"><img src="~/cms_lib/img/icons/deletePopup.svg" alt="details-icon" class="icons" /></span>

                        <h3> هل تريد حذف التصنيف</h3>
                        <p>
                            في حالة الموافقة ، فلن تستطيع <br />استعادة البيانات مره اخرى
                        </p>
                    </div>
                    <input type="hidden" id="newsId" name="id" />
                    <div class="modal-button">
                        <button type="submit" id="YesValue" class="btn btn-primary" data-bs-dismiss="modal">نعم</button>
                        <button type="button" class=" btn btn-light-primary" data-bs-dismiss="modal">لا</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <div class="parent w-100 h-100">
        <div class="child">
            <div>
                <img src="~/Cms_Lib/img/icons/no-users-icon.svg" alt="search-icon" />

            </div>

            <div>
                <h2>لا يوجد بيانات</h2>

            </div>

            <a asp-page="/QualitativeClassfication/CreateQualitativeClassfication" class="btn btn-tertiary">
                    <img src="~/Cms_Lib/img/icons/add-user.svg" alt="search-icon" />
                    إضافة تصنيف نوعى جديد
                </a>
            

        </div>

    </div>
}
@section Scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function deleteSuccess(result) {
            var page = 0;
            if ($("#currentPageNumber").length)
                page = $("#currentPageNumber").val();

            if (result.success) {
                swal.fire({
                    title: "تم حذف العنصر بنجاح",
                    imageUrl: '/Cms_Lib/img/icons/add-user-popup.svg',
                    showConfirmButton: false,
                    showCancelButton: false,
                    timer: 5000
                }).then(() => { window.location.replace("/QualitativeClassfication/Index"); });
            }
            else {
                Swal.fire({
                    imageUrl: `/Cms_Lib/img/icons/warning-popup.svg`,
                    title: result.errors[0],
                    showCancelButton: false,
                    showConfirmButton: false
                });
            }
        }
        function deleteFailed(result) {
            Swal.fire({
                imageUrl: `/Cms_Lib/img/icons/warning-popup.svg`,
                title: "حدث خطأ ما",
                showCancelButton: false,
                showConfirmButton: false,
            });
        }
        function showDeletePopup(id) {
            $("#newsId").val(id);
            $("#deleteModal").modal('show');
        }

    </script>
}